:host {
  display: block;
  position: relative;
}

.content-container {
  max-width: 1200px;
  margin: auto;
  flex: 1;
}

.content {
  display: flex;
  flex: 1;
}

.aside {
  width: 250px;
  margin-right: var(--spacing-default-double);
}

.main {
  flex: 1;
}

.toast {
  position: relative;
  height: 0;
}

