a:link a:visited {
    color: white;
    text-decoration: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: darkblue;
    color: white;
    width: 80%;
    margin-bottom: 5px;
}

.plakat-container {
    max-width: 240px;
    flex-grow: 1;
}
.plakat {
    height: 180px;

}

.titel{
    font-weight: bold;
    font-size: larger;
    align-content: center;
    width: 60%;
    flex-grow: 2;
}

li {
    list-style-type: none;;
}