:host {
  display: block;
  position: relative;
}

.heading,
.description {
  padding-left: calc(var(--form-ident) + var(--spacing-default-double));
}

.buttons {
  padding-top: var(--spacing-default);
  padding-left: calc(var(--form-ident) + var(--spacing-default-double));
  padding-bottom: var(--spacing-default);
}

.note {
  padding-top: var(--spacing-default);
  padding-left: calc(var(--form-ident) + var(--spacing-default-double));
}
