<p>login works!</p>

<h1>Login</h1>

<div>
        
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <label for="email">Email</label>
        <input formControlName="email"  required type="email" placeholder="Email">

        <label for="password">Password</label>
        <input type="password" formControlName="password" placeholder="Password">

        <button type="submit" name="login">Login</button>

        <span>Don't have an account? 
            <a routerLink="/signUp">signUp</a></span>
    </form>

</div>