<p>tinder works!</p>

<div class="box">
   <div class="trailer">
      <h2>Filmtitel</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xy8aJw1vYHo?si=pGghoDlfeoJuXStp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   </div>

   <div class="plot">
      <h2>Filminfos</h2>
      <p>Lorem ipsum dolor sit amet </p>
   </div>

   <div class="icons">  

      <input type="radio" name="toWatch" id="toWatch" class="radio" value="true">
      <label for="watch"><i class="fa-solid fa-eye"></i></label>

      <div class="container">

            <input type="radio" name="rating" id="star-5" class="radio" value="5">
            <label for="star-5"><i class="fa-solid fa-star"></i></label>
         
            <input type="radio" name="rating" id="star-4" class="radio" value="4">
            <label for="star-4"><i class="fa-solid fa-star"></i></label>
         
            <input type="radio" name="rating" id="star-3" class="radio" value="3">
            <label for="star-3"><i class="fa-solid fa-star"></i></label>
         
            <input type="radio" name="rating" id="star-2" class="radio" value="2">
            <label for="star-2"><i class="fa-solid fa-star"></i></label>
         
            <input type="radio" name="rating" id="star-1" class="radio" value="1">
            <label for="star-1"><i class="fa-solid fa-star"></i></label>
         
      </div>

      <input type="radio" name="share" id="share" class="radio" value="">
      <label for="share"><i class="fa-solid fa-share-nodes"></i></label>
   </div>
</div>
   <!-- https://youtu.be/OouXSXHXitY?feature=shared -->