<p>tinder works!</p>

<div>
   <h2>Filmtitel</h2>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/xy8aJw1vYHo?si=pGghoDlfeoJuXStp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div class="container">
   <div class="rating">
      <input type="radio" name="rating" id="star-5" class="rating-radio" value="5">
      <label for="star-5"><i class="fa-solid fa-star"></i></label>
   </div>
   <div class="rating">
      <input type="radio" name="rating" id="star-4" class="rating-radio" value="4">
      <label for="star-4"><i class="fa-solid fa-star"></i></label>
   </div>
   <div class="rating">
      <input type="radio" name="rating" id="star-3" class="rating-radio" value="3">
      <label for="star-3"><i class="fa-solid fa-star"></i></label>
   </div>
   <div class="rating">
      <input type="radio" name="rating" id="star-2" class="rating-radio" value="2">
      <label for="star-2"><i class="fa-solid fa-star"></i></label>
   </div>
   <div class="rating">
      <input type="radio" name="rating" id="star-1" class="rating-radio" value="1">
      <label for="star-1"><i class="fa-solid fa-star"></i></label>
   </div>
   
</div>
