* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icons {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container {
    flex-direction: row;
    direction: rtl
}

label{
    display: inline-block;
    color: #616356;
}

label i {
    font-size: 3rem;
    transition: 0.1s ease-in;
}

.container label:hover i,
.container label:hover ~ label i {
    color: #ffea4e;
}

.radio {
    display: none;
}

.container input[type="radio"]:checked + label i,
.container input[type="radio"]:checked ~ label i {
    color: #ffea4e;
}