/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: darkslateblue;
  --color-secondary: gold;
  --color-light: #fff;
  --color-dark: #222;
  --color-grey: #ccc;
  --color-grey-light: #eee;
  --color-danger: #d13434;
  --color-success: #56d134;

  --form-ident: 200px;
  --spacing-default: 10px;
  --spacing-default-half: calc(var(--spacing-default) / 2);
  --spacing-default-double: calc(var(--spacing-default) * 2);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poetsen One", 'serif;', serif;
  font-size: 1rem;
  margin: 0;
  height: 100%;
}

.mv-input {
  display: flex;
  padding: var(--spacing-default) 0;
  align-items: center;
}

.mv-input__label {
  display: block;
  width: var(--form-ident);
  text-align: right;
  margin-right: var(--spacing-default-double);
}

.mv-input__input {
  padding: var(--spacing-default-half) var(--spacing-default);
  width: 300px;
  font-size: 1.2rem;
  outline: none;
}

.mv-input__input.ng-invalid.ng-dirty {
  border-color: var(--color-danger);
}

.mv-input__input.ng-valid.ng-dirty {
  border-color: var(--color-success);
}

.mv-button {
  border: 2px solid transparent;
  font-size: 1.2rem;
  padding: var(--spacing-default) var(--spacing-default-double);
  margin-right: var(--spacing-default);
}

.mv-button--cancel {
  border-color: var(--color-primary);
  background-color: var(--color-light);
  color: var(--color-primary);
}

.mv-button--submit {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-light);
}

.mv-button[disabled] {
  border-color: var(--color-grey);
  background-color: var(--color-light);
  color: var(--color-grey);
}

.mv-button[disabled]:hover {
  cursor: not-allowed;
}

.mv-button:hover {
  cursor: pointer;
}

.mv-button:last-child {
  margin-right: 0;
}

